body{
    padding: 8%;
    background-image: linear-gradient(to right, #1168ec, #009eff, #00c4e1, #00de86, #a8eb12);;
}
form{
   width: 50%;
   border: 2px solid black;
   padding: 20px;
   justify-self: center;
}
h1{
    text-align: center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif ;
}