.title h1{
    color: darkcyan;
    text-align: center;
    padding: 20px;
    font-size: ;
}
body{
    background-image: url(../Images/login.avif);
    background-size: cover;
    /* background-color: yellowgreen; */
}