<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
<form method="POST">
  <input type="text" name="Student_Name" value="{{ student.Student }}">
  <input type="text" name="Student_Age" value="{{ student.Student_Age }}">
  <input type="email" name="Student_Contact_Email" value="{{ student.Student_Contact_Email }}">
  <input type="text" name="Student_Contact_Number" value="{{ student.Student_Contact_Number }}">
  <button type="submit">Update Student</button>
</form>

</body>
</html>